*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body {
    height: 100%;
}
.container{
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
}
.kontenHorizontal{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
}
.konten1{
    display: flex;
    position: static;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    padding: 25px 0px 25px 25px;
    box-sizing: border-box;
}
.kembali{
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 15%;
    border-radius: 20px;
    background-color: white;
    color: gray;
    align-items: center;
    font-size: 30px;
}
.kembali :hover{
    border-radius: 20px;
    background-color: #ccc;
}
.kembali>a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
.kontenform{
    display: flex;
    align-items: center;
    height: 85%;
    padding: 25px;
    border-radius: 20px;
    background-color: white;
    color: gray;
    flex-direction: column;
}

.konten2 {
    width: 70%;
    padding: 25px 25px;
    box-sizing: border-box;
}

form,table{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

tr{
    height: 40px;
}

input{
    width: 200px;
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
}

#submit{
    margin-top: 20px;
    height: 50px;
    width: 100%;
    background-color: cadetblue;
    border: 0px solid;
    border-radius: 10px;
}

#submit:hover{
    background-color: rgb(62, 115, 117);
}

.kontenTabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 25px;
    border-radius: 20px;
    background-color: white;
    color: gray;
}

#logo{
    width: 100px;
    opacity: 50%;
    margin-bottom: 20px;
}

#judultabel{
    font-size: 24px;
    margin-bottom: 20px;
}

.kontenTabel table {
    height: 100%;
    border-collapse: collapse;   /* ⬅️ garis rapi */
    table-layout: fixed;         /* ⬅️ kolom bagi rata */
}

.kontenTabel th,
.kontenTabel td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;       /* ⬅️ teks panjang turun */
}

.kontenTabel th {
    background-color: #f3f3f3;
    font-weight: bold;
}
select{
    width: 100%;
    height: 30px;
}

