<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/barang-keluar.css">
    <title>Barang Keluar | Praktikum</title>
</head>
<body>
    <div class="container">
        <div class="konten">
            <div class="header">
                <a class="kembali" href="index.html">&lt; Kembali</a>
                <h1 id="judultabel">KELOLA BARANG KELUAR</h1>
            </div>
            <div class="kontenTabel">
                <table>
                    <tr>
                        <th style="width: 20px;">No</th>
                        <th style="width: 200px;">Kode Barang</th>
                        <th style="width: 200px;">Nama Barang</th>
                        <th style="width: 150px;">Kategori</th>
                        <th style="width: 100px;">Status</th>
                        <th style="width: 200px;">tanggal</th>
                        <th style="width: 150px;">Aksi</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>ms0001</td>
                        <td>B100</td>
                        <td>Mouse</td>
                        <td>baik</td>
                        <td>2-10-2025</td>
                        <td>
                            <button>Keluar</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>